@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

.logo {
  font-size: 32px;
}
.logo a {
  text-decoration: none;
}
.logo h3 {
  margin: 0 10px 0 0;
  color: #00ffff;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.navegacion {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.navegacion ul {
  display: flex;
  gap: 8px;
}
.navegacion ul li {
  list-style: none;
}
.navegacion ul li a {
  text-decoration: none;
  color: #00ffff;
}
.navegacion ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.contenedor {
  display: flex;
  align-items: center;
}
.contenedor .texto {
  color: black;
  text-align: center;
}
.contenedor .texto h1 {
  font-size: 36px;
}
.contenedor .texto p {
  font-size: 14px;
}
.contenedor .texto a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  background-color: rgba(32, 39, 70, 0.9058823529);
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
}
.contenedor .texto a:hover {
  background-color: rgba(127, 255, 212, 0.836);
}

.imagen {
  width: 100%;
}
.imagen img {
  object-fit: cover;
  max-width: 800px;
  border-radius: 10pxpx;
}

.section-main {
  padding: 30px;
  text-align: center;
  color: #ffffff;
  background: rgba(176, 178, 189, 0.937254902);
}

.contenedor-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
  gap: 10px;
}

.contenido-grid {
  display: grid;
  width: 100%;
  border: 2px solid black;
  padding: 5px;
}
.contenido-grid span {
  font-weight: bold;
  color: green;
}
.contenido-grid img {
  width: 100%;
  object-fit: cover;
}
.contenido-grid a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background-color: rgba(32, 39, 70, 0.9058823529);
  color: #ffffff;
  text-align: center;
}
.contenido-grid a:hover {
  background-color: rgba(255, 166, 0, 0.856);
}

.carrito_agregado {
  color: black;
  background-color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 50px auto;
  padding: 0;
  border: 1px solid #888;
  width: 600px;
  max-height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
      top: -300px;
      opacity: 0;
  }
  to {
      top: 0;
      opacity: 1;
  }
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0;
  }
  to {
      top: 0;
      opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  background-color: #ccc;
  overflow-y: auto;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contenedor-producto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 130;
  background-color: #ffffff;
  margin: 5px 0;
}

.eliminar-producto {
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  border-radius: 50%;
  padding: 3px;
  color: red;
  transition: 0.5s;
  font-size: 10px;
}

.eliminar-producto:hover {
  color: white;
  background-color: red;
}

.boton-carrito {
  font-weight: 500;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.boton-carrito:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
      display: none;
  }
  .topnav a.icon {
      float: right;
      display: block;
  }

  .section-header {
    position: relative;
    top: 85px;
    margin-bottom: 100px;
  }

  .contenedor {
    flex-direction: column;
  }

  .contenedor img {
    max-width: 100%;
  }

  .contenedor-grid {
    display: flex;
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
  }
  
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
      position: relative;
  }
  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
}


/*# sourceMappingURL=style.css.map */
